.allVacationsSection {
    width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

.allVacations {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;
}

.allVacationsHeader {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: -9px 8px 0px 0px #0cffe1;
    padding: 12px 1rem;
    border-radius: 5px;
    color: lightslategray;
    border: 1px solid lightslategray;
    justify-content: center;
    height: 80px;
}

.locationImage {
    width: 37px;
    margin-left: 1rem;
}

.vacationCardAndInfoContainer {
    display: flex;
    border: 10px solid black;
}

.noVcationsSection {
    text-align: center;
    margin: auto auto 3rem auto;
    margin-bottom: 3rem;
    color: #267994;
}

.settingsImage {
    width: 250px;
}


.addVacationSquare {
    height: 250px;
    width: 350px;
    margin-right: 25px;
    border-radius: 1rem;
    background: url("../../assets/addSign.svg"), rgb(0, 195, 255);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    box-shadow: 0px 0px 5px 6px #a5a5a582;
}

.addVacationSquare:hover {
    background: url("../../assets/addSign.svg"), rgba(0, 195, 255, 0.623);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.newVacationText {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    text-align: center;
}

.adminControlPanel {
    display: flex;
    justify-content: space-between;
}



/* --------------- Modals and Snackbar --------------- */

#addModalContainer, #deletionModalContainer, #editModalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#addModal, #deletionModal, #editModal {
    background: url("../../assets/deleteModalBGSVG.svg"), white;
    background-position: top right;
    background-repeat: no-repeat;
    width: 50%;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    text-align: center;
    box-shadow: -14px 13px 6px #5858587a;
}

#addModal, #editModal {
    top: 10%
}

#deletionModalHeader {
    font-weight: 300;
    color: rgb(221, 17, 17);
}

#addModalHeader, #editModalHeader {
    font-weight: 300;
    color: lightslategray;
}

#deletionModalText {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
}

#deletionModalVacationName {
    font-weight: 300;
    padding: 0.5rem 0 1.5rem 0;
}

#addInputs, #editInputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#addInputs *, #editInputs * {
    margin-bottom: 0.5rem;
}

#addDatesSection, #editDatesSection {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#addDatesSection input, #editDatesSection input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.buttonsSection {
    margin-top: 50px;
}

.buttonsSection button {
    margin: 0 10px;
    padding: 5px 1rem;
    background: transparent;
    font-family: inherit;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
    outline: none;
}

#addModalCancelBtn, #deleteBtn, #editModalCancelBtn {
    border: 1px solid rgb(231, 24, 24);
    color: rgb(165, 27, 27);
}

#addModalCancelBtn:hover, #deleteBtn:hover, #editModalCancelBtn:hover {
    background: rgb(231, 24, 24);
    color: white;
}

#addModalDoneBtn, #dontDeleteBtn, #editModalDoneBtn {
    border: 1px solid rgb(14, 151, 21);
    color:green;
}

#addModalDoneBtn:hover, #dontDeleteBtn:hover, #editModalDoneBtn:hover {
    background:rgb(14, 151, 21);
    color:white;
}

#addModalIcon {
    width: 100px;
    padding: 1rem 0;
}

#deleteModalIcon {
    width: 125px;
    padding: 1rem 0;
}

#editModalIcon {
    width: 250px;
    padding: 1rem 0;
}


#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgb(21 48 76); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 15px; /* Rounded borders */
    padding: 25px 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
  
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/* -------------------------- Media Queries -------------------------- */

@media screen and (max-width: 1535px) {
    
    #addDatesSection, #editDatesSection {
        flex-direction: column;
    }

    .allVacationsSection {
        width: 1300px;
    }

    .allVacations {
        justify-content: center;
    }
}

@media screen and (max-width: 1375px) {

    .allVacationsSection {
        width: 100%;
    }

    .headerContainer {
        margin: auto;
    }

    .topNavbarSection {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1120px) {

    .addVacationSquare {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 895px) {

    .allVacationsSection {
        margin: auto;
    }

    img.logo {
        height: 200px;
    }
}

@media screen and (max-width: 695px) {

    #addDatesSection, #editDatesSection {
        flex-direction: column;
    }

    #editModalIcon {
        width: 100%;
    }

    #editInputs, #addInputs {
        width: 75%;
    }

    img.logo {
        height: 130px;
        margin-top: 100px;
    }
}